.programms {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.programms-titles {
    display: flex;
    gap: 5rem;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    justify-content: center;
    text-transform: uppercase;
    color: white;
}


.prgoram-categories {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1.6rem;
    border-radius: 3px;
}

.category {
    background-color: var(--gray);
    flex: 1 1 0%;
    padding: 2rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 5px;
    gap: 1rem;
}

.category>:first-child {
    fill: white;
    height: 2rem;
    width: 2rem;
}

.category>span:nth-child(2) {
    font-size: 1rem;
    font-weight: 700;
}

.category>span:nth-child(3) {
    font-size: 0.9rem;
    line-height: 25px;
}

.category>.join-now {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.category>.join-now>img {
    width: 1rem;
}

.category:hover {
    background: linear-gradient(210.41deg, rgb(250, 80, 66) 1.14%, rgb(255, 167, 57) 100.75%);
    cursor: pointer;
}