.Footer {
    position: relative;
}

.Footer>hr {
    border: 1px solid var(--lightgray);
}

.wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.footer-content {
    display: flex;
    gap: 4rem;
}

.footer-content>img {
    width: 2rem;
    cursor: pointer;
}

.wrapper>img {
    width: 10rem;
    cursor: pointer;
}


.blur-center {
    left: 37%;
    top: 6rem;
    filter: blur(147px) !important;
}

.blur-f {
    width: 22rem;
    height: 9rem;
    background: #ff7300;
    filter: blur(127px);
    border-radius: 12%;
}

.blur-right {
    right: 0;
    top: 6rem;
}

.blur-left {
    left: 0;
    top: 6rem;
}